div#footer {
	height:42px; text-align:center;
	clear:both;					/*回り込みを解除する*/
	margin-top:200000px;
	border-top:solid #cccccc 1px;
}
address {
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:5px 0px 5px 0px;
			 /*要素内容の位置調整*/
}
